.cart {
  @apply h-screen max-h-screen overflow-hidden w-0 m-0 !p-0 rounded-none !left-[inherit] right-0 !top-0 bg-white !transform-none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  &[open] { 
    animation: toLeft 1 .5s both  cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }
  &.hide { 
    animation: toLeftReverse 1 .5s both  cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }


  &__list {
    @apply p-5;
    height: calc(100vh - 157px - 66px); overflow: auto;
    .mypage & {
      height: auto;
      max-height: 50vh;
    }
    &::-webkit-scrollbar {
      @apply w-2 bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply w-2 bg-gray-300 rounded-xl;
    }
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
    .room-list__picture {
      @apply w-14 h-14 rounded-md;
    }
    li:first-child{
      @apply pt-0;
    }
    li:last-child {
      border-bottom: none
    }
  }
  .dialog__close {
    @apply top-2;
  }
}

.cart-price {
  @apply p-5 border-t border-t-gray-200 border-solid absolute bottom-0 w-full;
  .mypage &{
    @apply static px-0 border-0;
    button {
      @apply px-7 py-[0.63rem] text-base;
    }
  }
  li {
    @apply flex justify-between;
  }
}

@keyframes toLeft {
  0% { @apply w-0}
  100% { @apply w-[22rem]}
}
@keyframes toLeftReverse {
  0% { @apply w-[22rem]}
  100% { @apply w-0}
}