.destinations {
  @apply grid mobile:grid-cols-2 tablet:grid-cols-5 gap-5 mt-10;

  a {
    @apply grid;
    &:hover {
      img {
        @apply scale-125;
      }
    }
  }
  &__thumbnail {
    @apply overflow-hidden rounded-lg;
  }
  &.sub {
    img {
      @apply aspect-video object-cover w-full scale-100 transition-all duration-300;
    }
  }
  img {
    @apply mobile:aspect-video tablet:aspect-square object-cover w-full scale-100 transition-all duration-300;
  }
  &__info {
    @apply p-4 relative grid gap-1;
    &::before {
      content: "";
      @apply absolute left-0 top-5 bottom-5 w-[2px] bg-gray-300;
    }
    &::after {
      content: "";
      @apply absolute left-0 top-5 bottom-16 w-[2px] bg-blue-700 transition-all duration-300;
      a:hover & {
        @apply bottom-5;
      }
    }
    strong {
      @apply text-lg;
    }
    span {
      @apply text-gray-400 text-sm;
    }
  }
}
