.select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%236f6b7d' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='rgb(107 114 128)' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  @apply bg-gray-100 text-gray-500 px-4 pr-9 py-1 rounded-md h-11 border border-gray-200 appearance-none w-auto;

  background-repeat: no-repeat;
  background-image: var(--bs-form-select-bg-img);
  background-position: right 0.5rem center;
}

.input {
  @apply bg-gray-100 text-gray-500 px-4 py-1 rounded-md h-11 border border-gray-200 appearance-none w-auto box-border;

  &:disabled {
    cursor: not-allowed;
    @apply bg-gray-50 text-gray-400 border-gray-100;
  }

  &[type="date"] {
    --date: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%239795a1" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/></svg>');
    @apply pr-6 pl-4;

    position: relative;
    background-image: var(--date);
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    &::-webkit-clear-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 0;
      background: transparent;
      color: transparent;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: attr(data-placeholder);
      width: 100%;
    }
    &:valid::before {
      display: none;
    }
    .reservation-write & {
      @apply bg-white;
    }
  }
  &[type="file"] {
    padding: 0.35rem 0.875rem;
    overflow: hidden;
    &:hover:not([disabled]):not([focus]) {
      border-color: #c9c8ce;
    }
    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: #000;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &::file-selector-button {
      padding: 0.573rem 0.875rem;
      margin: -0.422rem -0.875rem;
      margin-inline-end: 0.875rem;
      color: #6f6b7d;
      background-color: #fff;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      border-inline-end-width: 1px;
      border-radius: 0;
      transition: all 0.2s ease-in-out;
    }
    &:hover:not(:disabled):not([readonly])::file-selector-button {
      background-color: #f2f2f2;
    }
    @media (prefers-reduced-motion: reduce) {
      &::file-selector-button {
        transition: none;
      }
    }
    &:disabled {
      background-color: rgba(75, 70, 92, 0.08);
      opacity: 1;
      cursor: not-allowed;
    }
  }
}
.checkbox {
  @apply rounded cursor-pointer w-5 h-5 mr-2 appearance-none bg-white bg-no-repeat bg-center bg-contain border-2 border-solid border-gray-300 align-[-0.2rem];
  &:checked {
    @apply shadow-md;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &.blue:checked {
    @apply bg-blue-700 border-blue-700;
  }
  &.red:checked {
    @apply bg-rose-600 border-rose-600;
  }
  &.gray:checked {
    @apply bg-zinc-500 border-zinc-500;
  }
  &:disabled:not(:checked) {
    @apply bg-gray-300 pointer-events-none filter-none opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  &:disabled {
    @apply opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  + label {
    @apply cursor-pointer;
  }
}
.radio {
  @apply translate-y-[0.1rem] rounded-full cursor-pointer w-5 h-5 mr-2 appearance-none bg-white bg-no-repeat bg-center bg-contain border-2 border-solid border-gray-300 align-[-0.2rem];

  &:checked {
    @apply shadow-md;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &.blue:checked {
    @apply bg-blue-700 border-blue-700;
  }
  &.red:checked {
    @apply bg-rose-600 border-rose-600;
  }
  &.gray:checked {
    @apply bg-zinc-500 border-zinc-500;
  }
  &.green:checked {
    @apply bg-green-500 border-green-500;
  }
  &:disabled:not(:checked) {
    @apply bg-gray-300 pointer-events-none filter-none opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  &:disabled {
    @apply opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  + label {
    @apply cursor-pointer;
  }
}

.textarea {
  @apply bg-gray-100 text-gray-500 px-4 py-1 rounded-md border border-solid border-gray-200 appearance-none w-auto box-border;
}
