.guest-counter {
  @apply inline-flex gap-1 items-center;
  .input {
    @apply bg-white w-14 text-center;
  }
  button {
    @apply w-11 h-11 bg-white inline-flex justify-center items-center border border-solid border-gray-200 rounded-md text-lg hover:bg-blue-700 hover:text-white transition-all duration-300;
  }
  &.sm {
    .input {
      @apply h-7  rounded-sm w-10 px-0 text-sm;
    }
    button {
      @apply w-7 h-7 text-xs rounded-sm;
    }

  }
}