.room-list {
  &__picture{
    @apply mobile:w-full desktop:w-52 h-48 overflow-hidden mobile:rounded desktop:rounded-xl mobile:mb-3 desktop:mb-0;
    img {
      @apply w-full h-full object-cover transition-transform duration-500;
      li:hover & {
        @apply scale-110;
      }
      .disabled & {
        @apply opacity-60
      }
    }
    .room-list & {
      @apply col-start-1 col-end-2 row-start-1 row-end-4;
    }
    .reservation__hotel-info & {
      @apply rounded-none w-full h-60;
    }
    &.sm {
      @apply w-24 h-24;
    }
    &.base {
      @apply w-20 h-20;
    }
    &.md {
      @apply !w-28 !h-28;
    }
  }
   > li {
    @apply py-6;
    > div {
      @apply mobile:block desktop:grid gap-7 items-center grid-cols-[min-content_1fr_1fr] grid-rows-[1fr_min-content_1fr];
    }
    + li {
      @apply border-solid border-t-[1px] border-t-gray-300;
    }
    &.disabled {
      @apply relative;
      * {
        @apply grayscale;
      }
      button {
        @apply  cursor-not-allowed pointer-events-none opacity-60;
        .room-write & {
          @apply  cursor-pointer pointer-events-auto opacity-100;
        }
      }
    }
  }
  button {
    @apply justify-self-start self-start;
  }
  .hotel__title {
    @apply mobile:block desktop:inline-block;
  }
}

.room-option {
  @apply grid col-start-2 col-end-[-1] mobile:py-3 desktop:py-0;
  ul {
    @apply flex flex-wrap mobile:gap-3 desktop:gap-6;
  }
  li {
    @apply flex items-center gap-1 text-gray-500;
    svg {
      @apply text-gray-700 text-lg;
    }
  }
  &__price {
    @apply text-sm pt-1;
    span {
      @apply text-gray-900 font-semibold;
    }
  }
}