.search {
  @apply mobile:static tablet:absolute mobile:left-0 tablet:left-2/4 mobile:!translate-x-0 tablet:!-translate-x-2/4  
  mobile:grid mobile:grid-cols-2
  bottom-36 z-50 bg-white tablet:flex p-8 rounded-xl gap-5 items-end;

  &__title {
    @apply flex items-center gap-2 pb-4;
    b {
      @apply text-gray-700 font-medium text-sm;
    }
    span {
      @apply w-6 h-6 rounded-full flex items-center justify-center text-xs text-gray-400 shadow-[0_0_0.7rem_rgba(0,0,0,0.1)];
    }
  }
  .sub-visual & {
    @apply mobile:translate-y-0 tablet:translate-y-1/2 bottom-0 shadow-md;
  }
}
.sub-visual + .search {
  @apply mobile:-mb-20 tablet:-mb-0 mobile:p-3;
}

.search-popup {
  @apply left-0 top-0;
  > div {
    @apply w-full h-0 fixed bg-black/0 backdrop-blur-sm flex justify-center items-center;
  }
  &[open] {
    > div {
      animation: slideDown 1 .5s both cubic-bezier(0.77, 0, 0.175, 1);
    }
  }

  &__wrap {
    @apply mobile:w-[80%] tablet:w-full max-w-6xl relative;

    input {
      @apply w-full bg-transparent text-white outline-none border-b border-b-white text-xl h-16 placeholder:text-gray-300;
    }
    button {
      @apply absolute -right-3 top-2/4 -translate-y-2/4 text-white text-2xl p-4;
    }
  }

  &__close {
    @apply absolute mobile:right-10 tablet:right-28 mobile:top-10 target:top-28 text-white text-2xl w-10 h-10 rounded-full bg-blue-700 flex items-center justify-center hover:rotate-[360deg] transition-transform duration-500;
  }
}

@keyframes slideDown{
  0% {
    @apply h-0 overflow-hidden bg-black/0;
  }
  100% {
    @apply h-full overflow-hidden bg-black/70;
  }
}