.sub-visual {
  @apply mobile:py-0 mobile:h-[10rem] tablet:h-auto tablet:py-[9rem] grid justify-center bg-no-repeat bg-cover bg-center relative mobile:mt-20 tablet:mt-24;
  &::after{
    content:'';
    @apply left-0 right-0 top-0 bottom-0 absolute bg-blue-900/70;
  }
  &:has(.search){
    > h2 {
      @apply -translate-y-8;
    }
  }
  > h2 {
    @apply text-center relative z-30 text-white font-semibold
    mobile:mt-0 mobile:absolute mobile:top-2/4 mobile:-translate-y-2/4 mobile:w-full mobile:text-2xl tablet:text-5xl;
    font-family: var(--eng1);
  }
}