.tab {
  @apply mobile:min-w-full mobile:overflow-x-auto mobile:overflow-y-hidden tablet:overflow-visible tablet:min-w-[480px] flex border-b-2 border-b-gray-300 gap-5 whitespace-nowrap;
  &::-webkit-scrollbar {
    @apply h-0 bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply h-0 bg-gray-300 rounded-xl;
  }
  &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
  button {
    @apply font-semibold pb-5;
    &.--active {
      @apply text-blue-700 relative;
      &::after{
        content: '';
        @apply absolute left-0 right-0 -bottom-[2px] border-b-2 border-b-blue-700;
      }
    }
  }
}

.login-form {
  @apply grid gap-7 pt-8;
  div {
    @apply grid gap-2 text-gray-700 ;
  }
}
.btn-login {
  @apply text-blue-700 pt-2;
}
.birth {
  display: grid;
  grid-template-columns:repeat(3, 1fr min-content );
  align-items: center;
  .mypage & {
    grid-template-columns:repeat(3, 1fr min-content );
    gap:0.5rem;
  }
  input {
    width: 100%;
    max-width: 8.5rem;
    margin-right: -1rem;
    text-align: center;
     ~ input {
      margin-left: 0.3rem;
     }
  }
}