/* 결재 */
.reservation {
  @apply grid gap-10 mobile:grid-cols-1 tablet:grid-cols-[1fr_2.2fr];
  &__hotel-info {
    @apply self-start;
    &__list {
      li {
        .room-list__picture {
          width: 5rem;
          height: 5rem;
          border-radius: .3rem;
        }
        .--price {
          white-space: nowrap;
        }
      }
    }
  }
}

/* 예약 입력 */
.reservation-form {
  @apply grid gap-6 mobile:block tablet:grid-cols-2;
 > div {
  @apply grid gap-2 mobile:mt-5 tablet:mt-0;
 }
}

/* 방정보 */
.reservation-write {
  > ul {
    > li {
      @apply py-3 flex justify-between items-center;
      + li {
        @apply border-t border-t-gray-300;
      }
    }
  }
  .--title {
    @apply font-bold text-sm;
  }
  .--total {
    @apply font-bold text-2xl ;
  }
  .--price {
    @apply font-bold ;
  }
}

